/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf/WGS-BACTERIAL VARIANT CALLING config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Author: Jimmy Lucas and Roger de Pedro Jové
    Description: Configuration for WGS - Variant Calling Analysis
    Nextflow Version: >=25.10.0
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

includeConfig 'conf/base.config'
includeConfig 'conf/process.config'

profiles {

    docker {
        includeConfig 'conf/docker.config'
    }

    singularity {
        includeConfig 'conf/singularity.config'
    }
}

// REPORTS

report {
    enabled   = true
    file      = "${params.outdir}/report/DVT_report.html"
    overwrite = true
}
timeline {
    enabled   = true
    file      = "${params.outdir}/report/DVT_timeline.html"
    overwrite = true
    dpi       = 100
}
trace {
    enabled   = true
    file      = "${params.outdir}/report/DVT_trace.txt"
    overwrite = true
    fields = 'task_id,process,name,attempt,status,exit,submit,start,duration,realtime,%cpu,%mem,peak_rss,peak_vmem,rchar,wchar'
}
dag {
    enabled   = true
    file      = "${params.outdir}/report/DVT_dag.svg"
    overwrite = true
}
workflow {
    summary = true
}
log {
    level = 'INFO'
}