params {

    input                 = "$projectDir/data/in/*_{1,2}.fastq.gz"
    reference             = "$projectDir/data/reference_genome"
    personal_ref          = "$projectDir/data/reference_genome/personal/*.{fna,fasta}"

    outdir                = "$projectDir/data/out"

    fastp_quality         = 20
    fastp_min_length      = 50

    min_assembly_length   = 300

    busco_lineage         = "bacteria_odb12.2"


    busco_dir             = "$projectDir/data/out/1-QC/genomeQC/BUSCO"
    quast_dir             = "$projectDir/data/out/1-QC/genomeQC/QUAST"

    index_genome_personal = "$projectDir/data/reference_genome/personal/index/index_personal_genome"
    genome_name_db        = "Acinetobacter_baumannii_clinical_1"
    index_mapping_bwa     = "$projectDir/data/reference_genome/personal/Pa01WT.fasta"

    organism              = "default"
    mrsa                  = false
    wildtype_code         = "AB21"

    custom_gff3           = null
    help                  = false  
    singleEnd = false

//DATA BASES

    bakta_db_dir            = "$projectDir/bakta_db"
    
    kraken_db_dir           = "$projectDir/kraken_db"
    kraken_deny_taxids      = "9443 9606 9605 9604 9598 9593 9601 9526 9483 314295 40674"
    kraken_confidence       = 0.1
    kraken_cpus             = 4
    kraken_mem              = '16 GB'
    kraken2_extra_args      = ''
    db_select               = 'db_16GB'
    db_bind                 = null
    db_url                  = null
    db_url_checksum         = null

    gatk_memory             = 10
    max_threads             = 24
    task_cpus               = 16

    containers = [
        kraken_db   : "rogerdpj/kraken2_db:1.0",
        qc          : "rogerdpj/wgs-qc:1.0",
        kraken      : "staphb/kraken2:2.17.1",
        seqtk       : "staphb/seqtk:1.5",
        spades      : "staphb/spades:4.3.0",
        assembly    : "rogerdpj/wgs-assembly:1.0",
        pilon       : "staphb/pilon:1.24",
        bakta       : "rogerdpj/ont-bakta:1.0",
        ariba       : "staphb/ariba:2.14.7",
        post        : "rogerdpj/ont-post:1.0"
    ]
}