params {

    input                 = "$projectDir/data/in/*_{1,2}.fastq.gz"
    reference             = "$projectDir/data/reference_genome"
    personal_ref          = "$projectDir/data/reference_genome/personal/*.{fna,fasta}"

    outdir                = "$projectDir/data/out"

    busco_dir             = "$projectDir/data/out/1-QC/genomeQC/BUSCO"
    quast_dir             = "$projectDir/data/out/1-QC/genomeQC/QUAST"

    index_genome_personal = "$projectDir/data/reference_genome/personal/index/index_personal_genome"
    genome_name_db        = "Acinetobacter_baumannii_clinical_1"
    index_mapping_bwa     = "$projectDir/data/reference_genome/personal/Pa01WT.fasta"

    organism              = "default"
    mrsa                  = false
    wildtype_code         = "AB21"

    custom_gff3           = null
    help                  = false  
    singleEnd = false

//DATA BASES

    bakta_db_dir            = "$projectDir/bakta_db"
    
    kraken_db_dir           = "$projectDir/kraken_db"
    kraken_deny_taxids      = "9443 9606 9605 9604 9598 9593 9601 9526 9483 314295 40674"
    kraken_confidence       = 0.1
    kraken_cpus             = 4
    kraken_mem              = '16 GB'
    kraken2_extra_args      = ''
    db_select               = 'db_16GB'
    db_bind                 = null
    db_url                  = null
    db_url_checksum         = null

    gatk_memory             = 10
    max_threads             = 16
    task_cpus               = 8

    containers = [
        abricate       = "jimmlucas/abricate_custom:V1.2.0"
        ariba          = "jimmlucas/ariba:V1.2.0"
        agat           = "jimmlucas/agat:v1.5.0"
        bakta          = "jimmlucas/bakta:wgs_V.1.1"
        bakta_db       = "jimmlucas/bakta_setdb:V1.0"
        busco          = "jimmlucas/busco:latest"
        gatk4          = "broadinstitute/gatk:4.5.0.0"
        snpeff         = "jimmlucas/snpeff:V5.4.0"
        pegaso_deeparg = "sebimer/pegase-deeparg:1.0.4"
        kraken         = "flowcraft/kraken2:2.0.7-1"
        pilon          = "staphb/pilon:1.24"
        polypolish     = "staphb/polypolish:0.6.0-bwa"
        kraken_tools   = "staphb/krakentools:d4a2fbe"
        kraken         = "flowcraft/kraken2:2.0.7-1"
        kraken2_new    = "jimmlucas/kraken2_new:1.0"
        short_wgs      = "ghcr.io/jimmlucas/wgs:short_reads"
        amrfinderplus  = "staphb/ncbi-amrfinderplus:4.0.23-2025-07-16.1"
        prokka         = "staphb/prokka:1.14.6"
    ]
}