def uid = System.getenv('UID') ?: '1000'
def gid = System.getenv('GID') ?: '1000'

docker {
    enabled              = true
    runOptions  = "--rm -u ${uid}:${gid}"
    autoMounts  = true
    autoRemove  = true
    }

singularity.enabled  = false
conda.enabled        = false
podman.enabled       = false
shifter.enabled      = false
charliecloud.enabled = false

process {

    maxForks         = 6
    cpus             = 24
    memory           = '120 GB'

    containerOptions = '--cpus=24 --memory=120g'24

    withName: PREPARE_KRAKEN_DB {
        containerOptions = {
            "--entrypoint '' -u \$(id -u):\$(id -g) " +
            "-v ${params.kraken_db_dir}:/kraken2-db" +
            (params.db_bind ? " -v ${params.db_bind}" : "")
        }
    }

    withName: KRAKEN {
        containerOptions = "--entrypoint '' -u \$(id -u):\$(id -g)"
    }
}