process {
    stageInMode = 'symlink'

    withLabel: 'env_kraken_db' {container = params.containers.kraken_db}
    withLabel: 'env_fastqc' {container = params.containers.qc}
    withLabel: 'env_trimming' {container = params.containers.qc}
    withLabel: 'env_kraken' {container = params.containers.kraken}
    withLabel: 'env_seqtk' {container = params.containers.seqtk}
    withLabel: 'env_multiqc' {container = params.containers.qc}
    withLabel: 'env_spades' {container = params.containers.spades}
    withLabel: 'env_alignment' {container = params.containers.assembly}
    withLabel: 'env_pilon' {container = params.containers.pilon}
    withLabel: 'env_filter' {container = params.containers.seqtk}
    withLabel: 'env_bakta' {
        container        = params.containers.bakta
        cpus             = 6
        memory           = { 32.GB * task.attempt }
        maxForks         = 3
        errorStrategy    = { task.exitStatus in [137, 140, 143] ? 'retry' : 'finish' }
        maxRetries       = 2

    }
    withLabel: 'env_quast' {container = params.containers.qc}
    withLabel: 'env_busco' {container = params.containers.qc}  
    withLabel: 'env_mosdepth' {container = params.containers.qc}
    withLabel: 'env_mlst' {container = params.containers.post}
    withLabel: 'env_ariba' {container = params.containers.ariba}
    withLabel: 'env_abricate' {container = params.containers.post}
    withLabel: 'env_amrfinder' {container = params.containers.post}

    withName: PREPARE_KRAKEN_DB {
        env {
            DB_SELECT = params.db_select ?: 'db_16GB'
            DB_DIR    = '/kraken2-db'
        }
    }
}