singularity {
    enabled    = true
    autoMounts = true
    pullTimeout = '4h'
    cacheDir    = "${System.getenv('NXF_SINGULARITY_CACHEDIR') ?: "${baseDir}/singularity_cache"}"
}

docker.enabled       = false
conda.enabled        = false
podman.enabled       = false
shifter.enabled      = false
charliecloud.enabled = false

    process {
        maxForks = 6
        cpus     = 24
        memory   = '50 GB'

        containerOptions = "--bind /bin/ps:/bin/ps"
        
        withName: PREPARE_KRAKEN_DB {
            containerOptions = {
                "--bind ${params.kraken_db_dir}:/kraken2-db" +
                (params.db_bind ? " --bind ${params.db_bind}" : "")
            }
        }

        withName: KRAKEN {
            containerOptions = ''
            cpus             = params.kraken_cpus
            memory           = params.kraken_mem
        }

        withName: BAKTA_SET_DB {
            containerOptions = "--bind ${params.bakta_db_dir}:${params.bakta_db_dir}"
        }
        withName: BAKTA {
            containerOptions = "--bind ${params.bakta_db_dir}:${params.bakta_db_dir}"
        }
    }